.selector-container {
    margin-top: 3rem;
    user-select: none;
}

.selector-label{
    color: var(--color-text);
    transition: color 1s;
    user-select: none;
    font-weight: 500;
}
.left {
    text-align: left;
}
.center{
    text-align: center;
}

.selector-options {
    display: grid;
}
.page {
    grid-template-columns: repeat(5, 14rem);
    margin-top: 2rem;
    column-gap: 1rem;
    justify-content: space-between;
}
.popup{
    grid-template-columns: repeat(5, 3rem);
    margin-top: 6px;
    column-gap: 10px;
}



.category {
    display: grid;
    grid-template-rows: 40px 60px;
    align-content: center;
    justify-content: center;
    row-gap: 1rem;

    /* background: rgb(43, 104, 155); */
    width: 14rem;
    height: 14rem;

    border-radius: 16px;
    cursor: pointer;

}

.category-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 3rem;
    height: 3rem;
    background: rgb(1, 77, 139);
    cursor: pointer;

    position: relative;
}
.hover-info{
    /*https://stackoverflow.com/questions/3331353/transitions-on-the-css-display-property for info on delaying display */
    display:block;
    z-index: 100;
    position: absolute;
    
    background: rgb(17, 17, 17);
    color: #ced1e9;
    /* transition: color 1s;; */
    font-size: 12px;
    font-weight: 600;
    padding: 1px 4px 1px 4px;
    border-radius: 4px;
    user-select: none;

    /*center the hover box */
    left: 50%;
    transform: translate(-50%, 0);
}
.hover-info.bottom{
    top: 110%;
    display: none;
}
.hover-info.top{
    display:none;
    bottom: 120%
}


.category-popup:hover .hover-info.bottom {display: block; }

.category-label {
    color: var(--color-text);
    transition: color 1s;;
    font-size: 30px;
    font-weight: 600;
}

.category-icon {
    color: #dfe2fa;
    /* transition: color 1s;; */
    justify-self: center;
}
.big{
    font-size: 60px;
}
.small{
    font-size: 25px;
}

.books { background: rgb(144, 61, 221); } 
.books:hover {background: rgb(119, 16, 216);}

.movies{ background: rgb(226, 57, 127);}
.movies:hover{ background: rgb(207, 7, 90);}

.shows{ background: rgb(43, 159, 226);}
.shows:hover{ background: rgb(3, 128, 201);}

.games{ background: rgb(52, 207, 104);}
.games:hover{ background: rgb(1, 202, 68);}

.music{ background: rgb(226, 147, 43);}
.music:hover{ background: rgb(221, 127, 5);}





.selector-popup-container {
    width: 30rem;
    height: 5.5rem;
    position: absolute;
    background: var(--color-background-light);
    transition: background 1s;
    z-index: 100;

    top: 100%;
    margin-top: 10px;

    padding: 1rem;
    border-radius: 4px;

}