.errorPage {
    display: flex;
    flex-direction: column;
    background: var(--color-background);
    transition: background 1s;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}