.appFooter {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
    "left navigation right"; 
    height: 4rem;
    background: #121e38;

    margin-top: 60px;
}



.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #121e38;
    height: 4rem;
}
.center {
    grid-area: navigation;
}
.left{
    grid-area: left;
}


.nav{
    color:#b0b2c5;
    font-weight: 700;
    font-size: small;
    text-decoration: none;
}
.nav:hover {
    color:#6c9dd8;
}