.appHeader {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    border-bottom: 4px solid lightgrey;
    margin-bottom: 0.5em;
    background-color: #129490;
}

.appHeaderImg {
    object-fit: contain;
    padding-right: 1.25rem;
    max-width: 100%;
    height: auto;
}
  
.appHeaderTitle {
    padding: 1.25rem;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: flex-start;
    max-width: 25%;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: baseline;
    max-width: 70%;
}

.nav {
    margin: auto;
    margin-right: 10%;
    text-align: center;
    font-size: 2.5vw;
}

.avatar {
    border-radius: 50%;
    object-fit: contain;
    width: 13%;
    height: auto;
}

.headerBtns {
    font-size: 2vw;
}