/* color scheme
CE1483
E0A890
129490
065143
70B77E
*/

* {
  margin: 0;
}

@media (max-width: 600px) {
}

.homeBg {
  background-color: #151c2b;
  height: 200rem; /*will cause extra scroll bar if not big enough */
  overflow: auto;
  /* position: relative; */
  min-height: 100vh;
}

.pageContentContainer {
  margin: 0 auto;
  width: 63%;
  height: auto;
}

.filtersContainer {
  height: 7rem;
  display: grid;
  grid-template-columns: auto 50px;
  align-items: center;

  /* margin-bottom: 3rem; */
  
}

.filters {
  display: grid;
  grid-template-columns: repeat(2, 12rem);
  column-gap: 2rem;
}

.filters .filter-option {
  width: 12rem;
}

.searchInput {
  color: rgb(226, 228, 245);
  height: 2rem;
  width: inherit;
  background-color: #767a9b;
  background-image: url('./images/search.svg');
  background-position: -90% 5px;
  background-repeat: no-repeat;
  background-size: 70% 70%;
  padding-left: 2.5rem;
  padding-right: 1rem;

  font-size: medium;
  font-weight: 500; 

}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  position: relative;
  left: 0.5rem;
}

.content-section{
  margin-top: 3rem;
}
.section-label{
  /* change to flex if u wanna put some button far right */
  color: #cfd2f5;
  margin-bottom: 2rem;
}

.section-posts {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 20px 45px;
  justify-content: space-between; 
  

}

.top{
  display: table;
}







