/* color scheme
CE1483
E0A890
129490
065143
70B77E
*/

* {
  margin: 0;
}

@media (max-width: 600px) {
}

.homeBg {
  background-color: #0a1222;
  height: 200rem; /*will cause extra scroll bar if not big enough */
  overflow: auto;
  /* position: relative; */
  min-height: 100vh;
}

.pageContentContainer {
  margin: 0 auto;
  width: 63%;
  height: auto;
}

.filtersContainer {
  height: 8rem;
  display: grid;
  grid-template-columns: auto 50px;
  align-items: center;
  
}

.filters {
  display: grid;
  grid-template-columns: repeat(2, 12rem);
  column-gap: 2rem;
  height: 4rem;
  align-items: flex-end;
  
}

.filters .filter-option {
  width: 12rem;
}
.filter-option .filter-value-container{
  width: inherit;
  position: relative;
}

.searchInput {
  color: #cfd2f5;
  min-height: 38px;
  width: inherit;
  background-color: #13203b;
  /* background-image: url('./images/search.svg');
  background-position: -90% 5px;
  background-repeat: no-repeat;
  background-size: 70% 70%; */
  padding-left: 40px;
  padding-right: 1rem;

  font-size: medium;
  font-weight: 500; 

  border:none;
  border-radius: 4px;
  outline: none;

}

input[type="search"]::-webkit-search-cancel-button {
  /* Remove default */
  position: relative;
  left: 0.5rem;
}

.extra-filters {
  display: flex;
  height: 4rem;
  position: relative;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.category-select-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background:#13203b; 
  padding:5px;
  border-radius:4px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icons-style{
  font-size: 1.5rem;
  color: #cfd2f5;
}
.icons-style:hover {color:#6196f7}



.content-section{
  margin-top: 3rem;
}
.section-label{
  display: flex;
  justify-content: space-between;
  align-content: flex-end;

  color: #cfd2f5;
  margin-bottom: 2rem;

  user-select:none;
}

.section-posts {
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 20px 45px;
  justify-content: space-between; 
  

}

.top{
  /* display: table; */
}







