.coverContainer {
    width: auto;
    height: 15rem;
    /* background: green; */
}


.container { /*has both info and contentContainer */
    margin: 0 auto;
    width: 100%;
    height: 100rem; /*to change */
    background-color:var(--color-background);
    transition: background-color 1s;
}

.infoContainer {
    background-color: var(--color-background-light);
    transition: background-color 1s;
    height: 16rem;
}

.infoGrid {
    /* background-color: green; */
    width: 65%;
    height: 100%;
    /* margin-left: 15%; */
    margin: 0 auto;

    display: grid;
    grid-template-columns: 15% 3% auto;
    grid-template-rows: 20% 65% 15%;
    grid-template-areas: 
    "image . title"
    "image . description"
    "buttons . description";
}

.infoGrid .mediaPageImg {
    grid-area: image;
    /* background-color: greenyellow; */
    bottom: 35%;
    position: relative;
    width: 100%;
    height: 17rem;
}
.infoGrid .mediaPageTitle {
    grid-area: title;
    /* height: 50%; */
    font-size: larger;
    font-weight: 600;
    color: var(--color-text);
    align-self: center;
    
}

.infoGrid .mediaPageDescription {
    grid-area: description;
    font-size: medium;
    color: var(--color-text-grey);
}
.infoGrid .mediaPageDescription:hover {
    color: var(--color-text-grey-hover);
    transition: none;
}

 /* The container <div> - needed to position the dropdown content */
.infoGrid .mediaPageButtons {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.trophyButton {
  height: 100%;
  width: 20%;
  background: #0267da;
  border: none;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  
  border-radius: 4px;
}
.trophyButton:hover {
    background: #0276fc;
}
.trophyButton .icon {
    color: rgb(247, 247, 7);
    width: 1.2rem;
    height: 1.2rem;
    align-self: center;
}

.dropbtn2 { 
    width:75%;
    background-color: #3498DB;
    color: white;
    font-size: medium;
    text-align: left;
    line-height: initial;
    border: none;
    cursor: pointer;

    padding-left: 1rem;
    border-radius: 4px;
    
    /*display: flex */ 
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn2:hover {
    background-color: rgb(6, 120, 196);
  }

  /* Dropdown Content */
  .mediaPageButtons .dropdown-content2 {
    position: absolute;
    top: 110%;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 20%;

  }
  
  /* Links inside the dropdown */
  .dropdown-content2 .listOptions {
    background-color: #3498DB;
    color: rgb(255, 255, 255);
    
    font-size: small;
    font-weight: 500;
    text-align: left;
    line-height: initial;
    border: none;
    cursor: pointer;

    padding: .5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;


  }

  .listOptions .icon {
    color:#4b4b4b;
    }
  
  /* Change color of dropdown links on hover */
  .dropdown-content2 .listOptions:hover {background-color: #185177}
  .listOptions:hover .icon {color:#e2e0e0;}
  
  .arrow {
    border: solid rgb(43, 42, 42);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 2rem;
    bottom: 2px;
    
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }



.contentContainer { /*this is the grid containing both sidebar and overview content */
    display: grid;
    grid-template-columns: 12rem auto;
    column-gap: 2rem;
    position: relative;
    /* background-color: #0c1320; */

    grid-auto-flow: column;

    padding-left: 1rem;
    padding-right: 1rem;

    margin: 0 auto;
    margin-top: 1.5rem;

    width: 65%; /*change to fixed later? */

}

.sidebar {
    height: auto;
    width: 12rem;
    /* overflow: auto;  otherwise margin-top in child affects whole parent and not just child */
    /* margin-left: 15%; same as infoContainer */
}

.sidebar .rateContainer {
    display: block;
    width: 10rem;
    height: auto;
    background: var(--color-background-light);
    transition: background 1s;
    
    border-radius: 4px;
    padding: .5rem 2rem .25rem 0rem;
    
    margin-bottom: 1rem;
    position: relative;
}
 .rateButton {
    border-radius: 4px;
    border: none;
    width: 100%;
    background:none;
    margin-top: 5px;
}
.yourRatingValue {
    position: absolute;
    bottom: 9px;
    right: 18px;
    color: var(--color-text);
    font-size: small;
}

.sidebar .extraInfoContainer {
    display: block;
    width: 10rem;
    height: auto;
    background: var(--color-background-light);
    transition: background 1s;
    
    margin-bottom: 1rem;
    border-radius: 4px;
    padding: 1rem;
}

/* .extraInfoContainer.info {
} */

.extraInfoContainer.tags {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.extraInfoTitle {
    font-size: medium;
    font-weight: 600;
    color: var(--color-text);
    transition: color 1s;

}

.extraInfoValue {
    font-size: small;
    color: var(--color-text-grey);
    transition: color 1s;
    padding-bottom: 1rem;
}

.tag {
    /* perhaps change to display flex if there is additional info to place on right side space */
    font-size: small;
    font-weight: 700; 
    color: rgb(36, 36, 36);
    width: 85%; /*can change to auto if there is additional info on right side */
    text-align: left;
    border-radius: 4%;
    padding-left: 5%;
    margin-bottom: 1rem;

    cursor: pointer;
    
}


.revLink {
    text-decoration: none;
    color: var(--color-text);
}

.reviewButton {
    margin-bottom: 1rem;

    width: 12rem;

    background-color: #3498DB;
    color: white;
    padding: .5rem 0rem .5rem 1rem;
    font-size: small;
    font-weight: 600;
    text-align: left;
    line-height: initial;
    border: none;
    cursor: pointer;

    border-radius: 4px;

    display: flex;
    justify-content: space-evenly;
    
}
.reviewButton:hover {
    background-color: #196597;
}

.reviewButton .icon {
    width: 1rem;
    height: 1rem;
}





.overviewContentContainer { /*this is the div next to sidebar */
    width: 100%;
}

.reviewsContainer {
    display:block;

    width: auto;
    height: auto;
    /* background: #141e30; */
    
    border-radius: 4px;
    padding: 1rem;

}
.reviewsGrid {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: minmax(min-content, max-content); /*grid-template-rows: auto auto == same result?*/

    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    column-gap: .75rem;

    height: auto;
}