.mediaPostImg {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    max-height: 25rem;
    background: black;
}

.mediaPost {
    width: 90%;
    display: grid;
    place-items: center;
    max-width: 40rem;
    min-height: 30rem;
    background-color: white;
    border: 3px solid lightgray;
    margin-bottom: 4rem;
    text-align: center;
    overflow: auto;
}

.mediaPostTitle {
    /* min-height: 3rem; */
    /* text-align: center; */
}

.mediaPostInfo {
    /* min-height: 3rem; */
}

.mediaPostSummary {
    /* min-height: 3rem; */
    /* max-width: 80%; */
}

.allbtns {
    display: flex;
    justify-content: center;
    gap: 20%;
    margin-bottom: 1rem;
}

.expandbtn {
    border-radius: 10px;
    width: 4em;
    height: 4em;
}

.expandbtn:hover {
    background-color: #4CAF50;
    color: white;
}
  
.laterBtn {
    width: 4em;
    height: 4em;
}

/* .laterBtn:hover {
    color: lightblue;
} */

.ratings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.completed {
    align-self: flex-start;
    width: 4em;
    height: 4em;
}

@media (min-width: 900px) {

}