body {
    background: gray;
}

.profile {
    background: black;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}

.profilePic {
    border-radius: 50%;
    margin-top: 4em;
    border-style: dashed;
    width: 10vw;
    height: 10vw;
}

.userName {
    margin: 1.5em;
}

.bio {
    padding: 2em;
    margin: 2em;
    background: #121e38;
    border-radius: 5%;
}

.list {
    padding: 2em;
    display: flex;
    width: 50vw;
    flex-wrap: wrap;
    gap: 2em;
    background: #121e38;
    border-radius: 5%;
    margin-bottom: 2em;
}

.favourite {
    width: 6em;
    height: 8em;
    display: block;
    overflow: hidden;
}

.watchButton {
    width: 5vw;
    height: 5vw;
}

.title {
    margin-bottom: 2em;
}