.profile {
    background: var(--color-background);
    transition: 1s; /*TODO use this shortcut on other pages */
    overflow: auto;
    min-height: 100vh;
}

/* ===================================== */ 

.profile-header{
    background: linear-gradient(0deg, rgb(65, 1, 134) 15%, rgba(7,0,107,1)   100%);
    width: auto;
    height: 300px;
}

/* ===================================== */ 

.profile-nav-container {
    padding-left: calc(15% + 300px); /*profile-content margin + grid section width for profile-user-sidebar */
    padding-right: 15%;
    background: var(--color-background-light);
    transition: background 1s;
    height: 40px;
}
.profile-nav {
    height: inherit;
    display: grid;
    grid-template-columns: repeat(5, max-content);

    justify-content: space-around;
    align-items: center;
}
.nav-pp {
    color:var(--color-text);
    transition: color 1s;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}.nav-pp:hover {
    color:#6c9dd8;
    transition:none;
}

/* ===================================== */ 

.profile-page-content{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px auto;
}

/* =================== */ 
.profile-user-sidebar {
    display: grid;
    grid-template-rows: max-content auto;
    row-gap: 20px;

    height: fit-content;

    position: relative;
    bottom: 180px;

    
    transition: background 1s;
    
    border-radius: 4px;
}
.user-sidebar-top {
    width: 100%;
    /* height: 10vw; */
    align-self: center;
    /* padding: 6px; */
    display: flex;
    justify-content: center;
}
.profilePic {
    border-radius: 50%;
    border-style: solid;
    border-width: 12px;
    border-color: var(--color-background-light);
    transition: border-color 1s;
    /* width: 10vw;
    height: 10vw; */
    width: 12vw;
    height: 12vw;
    

}

.user-sidebar-bottom {
    color: var(--color-text);
    background: var(--color-background-light);
    transition: background 1s;
    border-radius: 4px;
}
.userName-banner {
    background: var(--color-background-grey);
    transition: background 1s;
    padding: 10px 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.userName {
    font-size: 24px;
    font-weight: 600;
}
.user-badges {
    margin-top: 6px;
    display: flex;
    height: min-content;
    flex-wrap: wrap;
    row-gap: 6px;
}

.user-info{
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 12px;
    padding: 16px;
}
.bio {
    word-break: break-word;
    color: var(--color-text-grey);
    transition: color 1s;
}
.profile-button {
    width: auto;
    background-color: #3498DB;
    color: white;
    padding: 4px 0px 4px 0px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}.profile-button:hover {
    background-color: #196597;
}
.follows {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.followText {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    
    font-weight: 500;
}

/* =================== */ 

.profile-user-content {
    padding: 36px;
    padding-right: 80px;
    width: auto;
    
}

/* ==Overview== */

/* ==Activity== */
/* see activityFeed.css */


/* ==Lists== */

.view-more {
    background-color: var(--color-background-grey);
    color: var(--color-text);
    border-radius: 4px;
}

.arrow {
    width: 3em;
    height: 3em;
    position: inherit;
    outline: none;
}

/* ==Reviews== */

/* ===================================== */ 

.title {
    margin-bottom: 2em;
}

