.site-theme-container{
    display: grid;
    grid-template-columns: max-content repeat(2, 23px);
    align-items: center;
    column-gap: 12px;
}

.theme-select-label {
    color: #b0b2c5;
    font-weight: 700;
    font-size: 16px;
    padding-right: 6x;
}
.theme-button {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #9da0b9;
    cursor: pointer;
    user-select: none;
    position: relative;
}
.theme-button.default {
    background: whitesmoke;
    
}
.theme-button.dark {
    background: #081022;
    color: #aeb1cf;
}

.theme-button:hover .hover-info.top {
    display: block;
}